<h1>New category <%= @category.name %> is created</h1>
<p>
  Hey, 
  
  Just wanted to inform you that the new Category is successfully created.
  Here is the link to your new category <%= link_to @category.name, @category %>
</p>
<p>Thanks for joining and have a great day!</p>